<!-- <table class="table">
    <thead>
      <tr>
        <th scope="col">Employee Name</th>
        <th scope="col">Employee ID </th>
        <th scope="col">Reporting Manager</th>
        <th scope="col">Position</th>
        <th scope="col">Date of Joining </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let x of gdata; let i = index">
        <td>{{x["Employee Name"]}}</td>
        <td>{{x["Employee ID"]}}</td>
        <td>{{x["Reporting Manager"]}}</td>
        <td>{{x["HL Role"]}}</td>
        <td>{{x["CSC_DoJ"]}}</td>
      </tr>
    </tbody>
  </table> -->